doctype
html
  head
    title= "Study audio streaming"
    script(src="/lib/binaryjs/dist/binary.min.js")
    script(src='/ctrl.js')
    script(src='/volmeter.js')
    script(src="/recorder.js")
  body
    div
      label Rec:
      button(id='start-rec-btn') Start
      button(id='stop-rec-btn') Stop
    div
      canvas(id='vol-meter')
